h1 {
    font-family: 'Italiana', serif;
    font-size: 60px;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
  
  }

  li {
    font-family: 'Montserrat', sans-serif;
  }

  nav {
      padding: 10px;
    }
  ul {
      margin-left: auto;   
  }
  
  header img {
    width: 60px;
    }
  body {
    background-color: #FAF7EF;
    background-image: url(backgroundgradient.png);
    background-size: cover;
  }
    nav,
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul,
  footer ul{
    display: flex;
    gap: 10px;
  }
  
  nav li,
  footer li{
    list-style: none;
  }
  
  .projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  
  .project img {
      display: flex;
      width: 600px;
      object-fit: cover;
      margin-bottom: 1em;
  }
 
  *, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: 100%;
    cursor: none;
  }
  
  .list {
    display: flex;
    list-style: none;
  }
  
  .item {
    margin: 0 1em;
  }
  
  a {
    cursor: none;
  }
  
  .link {
    text-decoration: none;
    color: #000;
  }
  
  .cursor {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .outer {
    border: 1px solid #000;
  }
  
  .inner {
    background: #000;
    transition: 250ms ease-out;
  }
  
  .cursor.hover {
    transform: translate(-50%, -50%) scale(4);
    transition: transform 250ms ease-in-out;
  }
  
  .inner.hover {
    background: #f7f7f7;
    mix-blend-mode: difference;
  }